TOKEN=8878404837:AAFgreA1upQECXyVzICrfAWcERA2zb4z7Do
OWNER_ID=7201893742
ADMIN_ID=7201893742
YOUR_USERNAME=@M_JITENDRA
UPDATE_CHANNEL=https://t.me/J7xOFFICIAL
FREE_USER_LIMIT=1
SUBSCRIBED_USER_LIMIT=3
ADMIN_LIMIT=20
PORT=8080
